/* CSS declarations go here */
#render-target {
	height: 100vh;
	width: 100vw;
	position: fixed;
	overflow: hidden;
}
.thumbnail-image {
	display: block;
	max-height: 10vh;
	max-width: auto;
	height: 10em;
	/*top: 25%; Move to media query for portrait view*/
	width: auto;
/*	min-height: 100%;
	min-width: 100%;*/
	opacity: 0.4;
	margin: 0 auto;
}
.item-image {
	position: absolute;
	opacity: 0.8;
	display: inline-block;
	max-height: 100%;
	width: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
}
.thumbnail-container {
	display: inline-block;
	float: right;
}
.thumbnail-img-container {
	height: 10em;
	width: 10em;
}
.item-container {
	padding: 1em;
	height: calc(100% - 2em);
	width: 100%;
}
.viewport {
	height: 100%;
	position: relative;
}
.active-item {
	background-color: grey;
	color: lightgrey;
}
.box {
	height: 100px;
	width: 100px;
	background-color: skyblue;
}
.page-container {
	width: 100vw;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	margin: 0;
	height: 100vh;
}
.left-menu {
	width: calc(100% - 2vw);
	padding: 2em;
	height: 94vh;
	transition: all .4s;
	background-color: white;
	overflow: hidden;
	align-content: center;
}
.inactive {
	transition: all .4s;
	width: 2.5em !important;
}
.right-menu {
	padding: 1em;
	height: 94vh;
}
.column {
	padding: 0;
}
.nav{
	height: 8vh;
	min-height: 0;
}
.item-description {
	position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact-menu {
	float: left;
}
.contact-menu ul li {
	padding: 0 .4em 0 .4em;
}
.contact-menu li:hover {
	background-color: grey;
	color: lightgrey;
}
ul, li {
	list-style-type: none;
}
.active-thumbnail {
	opacity: 1;
	border: 2px solid grey;
}
.user-menu {
	transition: all .4s;
	position: fixed;
	height: 92vh;
	width: 20vw;
	z-index: 10;
	box-shadow: 10px 20px 10px 10px grey;
	background-color: white;
	right: 0;
	bottom: 0;
	margin-right: -20vw;
}
.user-menu.active {
	transition: all .4s;
	margin-right: 0;
}
.left-menu-container {
	min-width: 12em;
	width: calc(100% - 1em);
	padding: 2em 2em 0 2em;
}
.toggle-left {
	background-color: #1fc8db;
	line-height: 100vh;
	float: right;
	height: 100%;
	width: 2em;
	left: calc(100%/3 - 2em)
}
.chat-bar {
	position: absolute;
	width: 100%;
	padding: 0 .5em 0 .5em;
	bottom: .5em;
	height: 2em;
}
.chat-container {
	height: 92vh;
	width: 100%;
}
#chat-box {
	padding: 2em;
	margin-bottom: ;
	background-color: white;
	height: calc(92vh - 2em);
	width: 100%;
	overflow: scroll;
	transition: all 2s;
}
.login-form-container {
	padding: 2em;
}
.flash-box {
  position: fixed;
  background-color: tomato;
  width: 100vw;
  text-align: center;
  z-index: 11;
}