/* CSS declarations go here */
#render-target {
	height: 100vh;
	width: 100vw;
}
.thumbnail-image {
	max-height: 10vh;
	max-width: auto;
	opacity: 0.4;
}
.thumbnail-image.isActive {
	opacity: 1;
}
.thumbnail-container {
	display: inline-block;
	float: right;
}
.viewport {
	height: 100%;
	position: relative;
}
.active-item {
	background-color: grey;
}
.box {
	height: 100px;
	width: 100px;
	background-color: skyblue;
}
.page-container {
	width: 100vw;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	margin: 0;
	height: 100vh;
}
.left-menu {
	height: calc(100vh - 50px);
}
.right-menu {
	height: calc(100vh - 50px);
}
.item-description {
	position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.contact-menu {
/*	text-align: right;
	clear: right;*/
	max-width: 75px;
}

.contact-menu li:hover {
	background-color: grey;
	color: darkgrey;
}

ul, li {
	list-style-type: none;
}